body.dark-mode {
    background-color: #222;
    color: white;
}

body.dark-mode header {
    background-color: #333;
}

body.dark-mode section {
    background-color: #333;
    border-color: #555;
}

body.dark-mode input[type="text"],
body.dark-mode textarea {
    background-color: #444;
    color: white;
    border-color: #666;
}

body.dark-mode ul li,
body.dark-mode .catatan-item {
    background-color: #444;
    border-color: #555;
}

body.dark-mode #status,
body.dark-mode footer {
    color: #bbb;
}